.wrap
  %h3.text-center 添加文章
  = form_for(@article) do |f|
    - if @article.errors.any?
      #error_explanation
        %h2
          = pluralize(@article.errors.count, "error")
          prohibited this article from being saved:
        %ul
          - @article.errors.full_messages.each do |message|
            %li= message
    .row
      = f.label :title, '标题'
      = f.text_field :title
    .row#path-type
      %label 文章来源
      = f.radio_button :path_type, 'pdf'
      = f.label :path_type_pdf, '上传'
      = f.radio_button :path_type, 'online'
      = f.label :path_type_online, '在线编辑'
    .row#online-content
      = f.label :body, '正文'
      = f.text_area :body
    .row#pdf-upload-content
      = f.label :pdf, '上传 pdf 文件'
      = f.file_field :pdf
    .row#public-type
      %label 权限
      = f.radio_button :public, '0'
      = f.label :public_0, '公开'
      = f.radio_button :public, '1'
      = f.label :public_1, '组'
      = f.radio_button :public, '2'
      = f.label :public_2, '私有'
    .row#group-select-content
      = f.select :group_id, options_for_select(current_user.groups.collect{|g| g.title})
    .actions
      = f.submit '创建', class: 'button tiny'
      = link_to '返回', articles_user_articles_path, class: 'button tiny'
      
= content_for :js_ext do
  :javascript
    $('#online-content').hide();  
    $('#group-select-content').hide();
    $('#path-type input').change(function(){
      if($('#article_path_type_pdf').prop('checked')){
        $('#pdf-upload-content').show();
        $('#online-content').hide();
      } else {
        $('#pdf-upload-content').hide();
        $('#online-content').show();      
      }
    });
    $('#public-type').change(function(){
      if($('#article_public_1').prop('checked')){
        $('#group-select-content').show();
      } else {
        $('#group-select-content').hide();
      }    
    })

