.row
  .large-12.columns
    #main-content.wrap
      %a.button.tiny{:href => "/articles/new"} 创建
      #u-articles
        .row.border-bottom
          .large-4.columns
            %h5 标题
          .large-2.columns
            %p 批注数
          .large-2.columns
            %p 来源
          .large-2.columns
            %p 权限
          .large-2.columns
            %p 创建时间
        - @articles.each do |article|
          .row.border-bottom
            .large-4.columns
              %h5= link_to article.title, article_path(article.id)
            .large-2.columns
              %p= article.annotations.length
            .large-2.columns
              - if article.path_type == 'pdf'
                %p 上传 pdf
              - else
                %p 在线
            .large-2.columns
              - if article.public == 0
                %span.label.radius 公开
              - if article.public == 1
                %p 
                  %span.label.radius 组 
                  %span= article.group.title
              - if article.public == 2
                %p 个人
            .large-2.columns
              %p= article.created_at.strftime("%m月%d号")
    = will_paginate @articles

= content_for :js_ext do
  :javascript
    $('.my-articles-btn').addClass('active');
