.wrap
  %h4 参与的组
  -# %a.button.tiny{:href => "#"}  添加用户
  = link_to '创建组', new_group_path, :class => 'button tiny'
  .user-groups
    %ul
      %li
        .row
          .large-8.columns
            %h5 组名
          .large-2.columns
            %span 成员人数
          .large-2.columns
            %span 管理员
      - @groups.each do |group|
        %li
          .row
            .large-8.columns
              %h5
                = link_to group.title, group_path(group.id)
            .large-2.columns
              %span= group.count
            .large-2.columns
              %span= User.find(group.admin_id).email
          .row
            .large-12.columns
              %p= group.desc
