.container.home
  .page-1
    .row
      .large-12.columns.wrap
        .header-nav.show-for-small-only
          %ul
            %li.logo.text-right
              %a{:href => "/"}
                %h3.white CoReading
            %li.text-center
              %a.white{:href => "/articles"} 文章
        .header-nav.show-for-medium-up
          %ul
            %li.logo.text-right
              %a{:href => "/"} 
                %h3.white CoReading
            %li.text-center
              %a.white{:href => "/articles"} 文章
        %br
        %br
        %br
        .text-center
          = image_tag 'logo.png'
        .header-intro.show-for-large-only
          %span.spacer
          %h3.white 记录，分享
          %span.spacer
        %br
        %h2.white.text-center CoReading
        %p.white.text-center 协作阅读，分享经验
        %br
        .row
          .large-6.columns.large-centered.medium-10.medium-centered
            .row
              .large-6.medium-6.columns
                %a.button.full.black-bg.radius{:href => "/users/sign_up"} 注册
              .large-6.medium-6.columns
                %a.button.full.none-bg.radius{:href => "/users/sign_in"} 登录
  .page-2
    .row
      .large-12.columns.wrap.text-center
        %h3 CoReading 为阅读而作
        %br
        %br
        %p 这是一个开源的分享平台，你可以在这里阅读文章，包括搜索，阅读和批注文章，你只需要注册一个账号。
        %a.button.entry.radius{href: '/articles'} 
          %i.fa.fa-arrow-right
          &nbsp;
          进入
  .page-3
    .row
      .large-12.columns.wrap.text-center
        %h3.white 功能介绍
        %br
        %br
        %ul.large-block-grid-3.medium-block-grid-3.small-block-grid-1
          %li.box
            %h4.white 搜索
            %p.white 你可以搜索你需要的文章。
            %br
            %br
            = image_tag 'features-search.png'
          %li.box
            %h4.white 协作阅读
            %p.white 你可以选择加入小组，与小组成员一起阅读。
            %br
            = image_tag 'features-reading.png'
          %li.box
            %h4.white 批注
            %p.white 你可以对正在阅读的文章进行批注，如果这篇文章是小组公有的文章，那么其他成员就可以实时看到你的批注。
            = image_tag 'features-annotation.png'
  .page-4
    .row
      .large-12.columns.wrap.text-center
        %h3 开发人员
        %br
        %br
        %ul.large-block-grid-1.medium-block-grid-1.small-block-grid-1
          %li.person
            .row.collapse
              .large-4.small-3.columns
                = image_tag 'me.png'
              .large-8.small-9.columns
                %p Wendy。全栈开发。
  .page-5
    .row
      .large-12.columns.wrap.text-center
        %h3.white 随便看看
        %br
        .row
          .large-2.columns.large-centered.medium-3.medium-centered.small-6.small-centered
            %a.button.full.none-bg.radius{href: '/site/random'}
              %i.fa.fa-magic.fa-lg
              &nbsp;
              GO
        %br
        %br
        %br
        %h3.white 加入我们
        %br
        .row
          .large-8.columns.large-centered.medium-10.medium-centered
            .row
              .large-6.medium-6.columns
                %a.button.git.full.black-bg.radius{href: 'https://github.com/wendycan/yuetai.wendycan.org', target: '_blank'} 
                  %i.fa.fa-github
                  GitHub
              .large-6.medium-6.columns
                %a.button.email.full.none-bg.radius{href: 'mailto:yuetai@wendycan.org'} 
                  %i.fa.fa-envelope-o
                  yuetai@wendycan.org
  .page-6.footer.hide-for-small-only
    .row.wrap
      .large-5.columns.large-centered.medium-5.medium-centered
        .row
          .large-6.columns.small-12.medium-6
            %h4.white 关于
            %p.text-left
              %a{:href => "/articles"} 博客
            %p.text-left
              %a{:href => "/articles"} 演示文稿
          .large-6.columns.small-12.medium-6
            %h4.white 友情链接
            %p.text-left
              %a{:href => "http://wendycan.org", target: '_blank'} wendy
            %p.text-left
              %a{:href => "http://daodao.wendycan.org", target: '_blank'} 刀刀故事
            %p.text-left
              %a{:href => "http://history.wendycan.org", target: '_blank'} wendy 故事
