%nav.top-bar{:'data-topbar' => true}
  %ul.title-area
    %li.name
      %h1
        = link_to '/' do
          = image_tag("logo.png")
  %section.top-bar-section
    %ul.right
      %li.articles-btn
        = link_to articles_path do
          = "文章"
        - if user_signed_in?
          %li
            %a{:href => "#"} 我的批注
          %li
            %a{:href => "#"} 我的文档
      %li.has-dropdown
        = link_to new_user_session_path do
          - if user_signed_in?
            = current_user.email
          - else
            登录
        %ul.dropdown
          - if user_signed_in?
            %li
              %a{:href => "#"} 小组
            %li
              %a{:href => "#"} 设置
            %li
              = link_to '登出', destroy_user_session_path, :method => 'delete', data: { confirm: '确定登出？'}
          - else
            %li
              = link_to '注册', new_user_registration_path
            %li
              %a{:href => "/site/random"} 关于
